body {
    font-family: Arial, Helvetica, sans-serif;
}

.QR-wrapper {
    display: flex;
    text-align: center;
}

.QR-wrapper img {
    width: 300px;
    height: auto;
}

#qrCodeGoQR {
    padding: 40px;
    box-sizing: border-box;
}